body {
  padding-top: 70px;
  font-family: 'Roboto', sans-serif;
}

.main {
  width: auto;
  max-width: 850px;
  padding: 0 15px;
}

.main div {
  margin: 10px auto;
}

.borderless tr, .borderless td{
  border: none !important;
}

.borderless td{
  padding: 10px !important;
}

.news_contents {
  padding: 5px 0;
}

.news_contents_border {
  border-bottom: 1px solid;
  border-color: #B6B6B6;
  padding: 5px 0;
}
