.main-content {
  max-width: 1044px;
  margin-left: auto;
  margin-right: auto;
}

.main-content .mdl-button {
  text-decoration: none;
}

.profile-layout {
  max-width: 900px;
}

.news_contents {
  padding: 5px 0;
}

.news_contents_border {
  border-bottom: 1px solid;
  border-color: #B6B6B6;
  padding: 5px 0;
}

.no-bottom-padding {
  padding-bottom: 0 !important;
}

.news-text {
  padding-bottom: 56px !important;
}

.news-layout .mdl-card__actions {
  position: absolute;
  bottom: 0;
}

.news-layout .mdl-card__actions a {
  border-top: none;
  font-size: 16px;
}

.products-layout {
  max-width: 900px;
  margin: auto;
}

.products-layout .mdl-card__media {
  text-align: center;
  background-color: #FFFFFF;
}

.products-layout img {
  max-width: 140px;
  padding: 16px;
}

.footer-button {
  margin: 0 16px !important;
}
