.main {
  width: auto;
  max-width: 850px;
  padding: 0 15px;
}

.main div {
  margin: 10px auto;
}

.borderless th, .borderless td{
  border: none !important;
}

.borderless td{
  padding: 10px !important;
}
