.header-layout {
  overflow: visible;
  background-color: #FFFFFF !important;
}

.header-layout .material-icons {
  color: #757575 !important;
}

.header-layout .mdl-layout__title {
  color: #757575 !important;
}

.drawer-layout .material-icons {
  margin-right: 32px;
}

.nav-logo-image {
  width: 140px;
  margin-top: 8px;
  margin-bottom: 8px;
}
