h2.content_title {
  padding: 8px;
  border-bottom: 1px solid;
  border-color: #00BCD4;
  margin: 4px;
  color: #00BCD4;
}

div.contents {
  color: #737373;
  font-size: medium;
  padding: 0 12px;
}

div.description {
  color: #737373;
  font-size: 95%;
}
